[project]
name = "psychic-octo-carnival-apod"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "requests>=2.32.5",
    "slack-sdk>=3.36.0",
]
