name: Workflow for getting NASA Astronomy Picture Of the Day
on:
  schedule:
    - cron: '12 6 * * *'
  workflow_dispatch:
jobs:
  apod:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Run NASA APOD
        env:
          NASA_API_KEY: ${{ secrets.NASA_API_KEY }}
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
        run: |
          uv run apod.py
